div.home {
    user-select     : none;
    width           : 100vw;
    height          : 100vh;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #a1a1a1;
    overflow        : hidden;

    //轨道
    ::-webkit-scrollbar-track {
        background-color: #a1a1a1;
    }

    ::-webkit-scrollbar {
        width           : .5em;
        background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   : #a1a1a1;
    }

    div.home_outer {
        width          : 100%;
        height         : 100%;
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-around;
        align-items    : center;
        overflow       : auto;



        a.demo_item {
            z-index          : 0;
            position         : relative;
            color            : #fff;
            cursor           : pointer;
            display          : flex;
            margin           : 0.25em;
            width            : 100%;
            height           : 100%;
            max-width        : 415px;
            max-height       : 25vh;
            min-width        : 300px;
            overflow         : hidden;
            background-repeat: no-repeat;
            background-size  : cover;
            transition       : transform .5s linear;
            transform        : scale(1);

            img {
                position  : absolute;
                transition: all .5s linear;
                width     : 100%;
                height    : 100%;


            }


            &:hover {


                div.demo_item_detail {
                    top: 0;
                }

                div.bg {
                    opacity: .5;
                }

            }

            div.bg {
                position        : absolute;
                transition      : all .2s linear;
                opacity         : 0;
                background-color: #000;
                width           : 100%;
                height          : 100%;
                z-index         : 1;
            }

            div.demo_item_detail {
                z-index        : 2;
                transition     : all .2s linear;
                position       : relative;
                display        : flex;
                top            : 50%;
                left           : 0;
                width          : 100%;
                height         : 100%;
                font-size      : 1rem;
                flex-direction : column;
                justify-content: center;
                line-height    : 1em;
                overflow       : hidden;




                div.title-outer {
                    display        : flex;
                    height         : 100%;
                    overflow       : hidden;
                    justify-content: center;
                    align-items    : center;
                    width          : 100%;
                    padding        : .5em;

                    span.title {
                        max-height        : 48px;
                        height            : 100%;
                        width             : 100%;
                        box-sizing        : border-box;
                        text-overflow     : ellipsis;
                        display           : -webkit-box;
                        -webkit-line-clamp: 3;
                        overflow          : hidden;
                        -webkit-box-orient: vertical;
                    }
                }

                div.main-outer {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    height         : 100%;
                    overflow       : hidden;
                    width          : 100%;
                    padding        : .5em;
                    flex-direction : row;


                    span.main {
                        border-radius   : 2px;
                        background-color: rgba(0, 0, 0, 0.18);
                        box-shadow      : 0 0 50px rgba(0, 0, 0, 0.5);
                        line-height     : 1em;
                        height          : 100%;
                        width           : 100%;
                        box-sizing      : border-box;
                        max-height      : 16px;
                        overflow        : hidden;

                        span.scroll {
                            width    : 100%;
                            display  : flex;
                            flex-wrap: wrap;
                        }



                    }


                    a {
                        display         : flex;
                        flex-direction  : row;
                        justify-content : center;
                        align-items     : center;
                        width           : 50%;
                        padding         : .25em;
                        background-color: rgba(0, 0, 0, 0.5);

                        span {
                            text-align    : center;
                            color         : #fff;
                            letter-spacing: 1px;
                        }
                    }
                }
            }

            @media(min-width:1024px) {

                &:hover {
                    box-shadow: 0 0 8px @primary-color;

                    img {
                        animation: imgScale linear infinite 40s;

                        @keyframes imgScale {
                            0% {
                                transform: scale(1);
                            }

                            50% {
                                transform: scale(1.35);
                            }

                            100% {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }

            @media(max-width:1024px) and (min-width:500px) {
                background-color: rgb(182, 182, 182);
                width           : 100%;
                height          : 100%;
                max-width       : 40vw;
                max-height      : 25vh;
                margin          : .5rem;



                div.demo_item_detail {
                    line-height: 1em;
                    top        : 0;

                    div.title-outer {
                        span.title {
                            max-height        : 80px;
                            -webkit-line-clamp: 5;
                        }
                    }
                }

                div.bg {
                    opacity: .5;
                }
            }

            @media(min-width:500px) {
                div.demo_item_detail {

                    div.main-outer {
                        span.main {
                            max-height: 32px;

                            span.scroll {
                                transform: translateY(0%);
                            }
                        }
                    }
                }

                &:hover {
                    div.demo_item_detail {
                        top: 0;

                        div.main-outer {
                            span.main {

                                span.scroll {
                                    animation: scrollMove linear infinite 10s;

                                    @keyframes scrollMove {
                                        0% {
                                            transform: translateY(0%);
                                        }

                                        50% {
                                            transform: translateY(calc(-100% + 2em));
                                        }

                                        100% {
                                            transform: translateY(0%);
                                        }
                                    }
                                }


                            }
                        }
                    }

                    div.bg {
                        opacity: .5;
                    }

                }
            }

            @media(max-width:500px) {
                width     : 100%;
                height    : 100%;
                max-width : 90vw;
                max-height: 25vh;
                margin    : 7px 10px;

                div.demo_item_detail {
                    line-height: 1.5em;
                    top        : 0;


                    div.title-outer {
                        span.title {
                            max-height        : 50px;
                            -webkit-line-clamp: 2;
                        }
                    }

                    div.main-outer {
                        span.main {
                            margin    : 0.25em;
                            padding   : 0;
                            max-height: 32px;

                            span.scroll {
                                display           : -webkit-box;
                                text-overflow     : ellipsis;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                max-height        : 32px;
                            }
                        }
                    }
                }

                div.bg {
                    opacity: .5;
                }
            }

        }
    }

    @media(max-width:1024px) {
        div.chart_outer {
            display: none;
        }

    }

    div.chart_outer {
        width : 100%;
        height: 100%;

        div.chart {
            width : 100%;
            height: 100%;
        }

        div.theme {
            position        : absolute;
            border-radius   : 2px;
            border          : 1px solid #e8e8e8;
            right           : 0;
            top             : 0;
            margin          : 1em;
            font-weight     : bold;
            letter-spacing  : 1px;
            display         : flex;
            flex-direction  : row;
            justify-content : center;
            align-items     : center;
            background-color: #a1a1a1;



            span {
                margin    : 5px;
                color     : #fff;
                box-sizing: border-box;

                &:nth-last-of-type(-n+3) {
                    padding: .7em;
                }

                &:nth-last-of-type(3) {
                    background-color: #fff;
                }

                &:nth-last-of-type(2) {
                    background-color: #000;
                }

                &:nth-last-of-type(1) {
                    background: linear-gradient(135deg, #f0bcb9 0%, #dd6b66 50%, #759aa0 51%, #b1c6ca 100%);
                }

            }

            span.active {
                border: 2px solid blue;
            }

        }
    }


}